<%- include('partials/head')%>
    <div class="nav-container">
        <a href="/">Homepage</a>
        <a href="/new-category">New Category</a>
        <a href="/category/<%=category._id%>/new-item">New Item</a>
    </div>
    <div class="category-detail-container">
        <h1>
            <%= category.name %>
        </h1>
        <div class="category-list-container">
            <% if (category.items.length === 0 ) { %>
                <p>No items</p>
            <% } %>
            <ul class="category-list">
                <% category.items.map((value) => { %>
                    <li class="category-list-items">
                        <a href="/category/<%=category._id%>/<%=value._id%>/edit">
                            <p class="item-name"><%= value.name %></p>
                            <p class="item-description"><%= value.description %></p>
                            <div class="item-price-stock">
                                <p class="item-price">Price: Rs:- <%= value.price %></p>
                                <p class="item-stock">Qty: <%= value.number_in_stock %></p>
                            </div>
                        </a>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>
  </body>
</html>